/* COMMON */
  html,body{padding:0;margin:0;text-align:center;width:100%;height:100%;}
  body{background-color:#000;} 
  .sd, .sd input,.sd textarea,.sd h2,.sd h3{font-family:Ubuntu,Arial;color:#000;font-size:13px;}
  .sd a{text-decoration:none;}
  .sd a:hover{text-decoration:underline;}
  .mb0{margin-bottom:0!important;} .mb5{margin-bottom:5px!important;} .mb10{margin-bottom:10px;} .mb20{margin-bottom:20px;} .mb40{margin-bottom:40px;}
  .mt5{margin-top:5px;} .mt10{margin-top:10px;} .mt20{margin-top:20px!important;} .mt30{margin-top:30px!important;} .mt40{margin-top:40px!important;} .mt49{margin-top:49px!important;}
  .m5{margin:5px;}
  .mn5{margin:-5px 5px 0 0;}
  .ml5{margin-left:5px;} .ml10{margin-left:10px!important;} .ml20{margin-left:20px!important;} .ml30{margin-left:30px!important;} .ml40{margin-left:40px!important;} .ml50{margin-left:50px!important;}
  .mr10{margin-right:10px;} .mr15{margin-right:15px;} .mr40{margin-right:40px;} .mr20{margin-right:20px;}
  .mc8{margin:8px 0 0 8px!important;}
  .pl40{padding-left:40px!important;} .pr40{padding-right:40px;}
  .pl20{padding-left:20px!important;} .pl30{padding-left:30px!important;}
  .pt13{padding-top:13px!important;} .pt20{padding-top:20px!important;} .pt30{padding-top:30px;} .pt40{padding-top:40px!important;}
  .pb40{padding-bottom:40px!important;}
  .clip{overflow:hidden;}
  .tr{text-align:right;}
  .h5{height:5px;} .h10{height:10px;} .h20{height:20px;} .h40{height:40px;}
  .wauto{width:auto!important;}
  .s15{width:15%;} .s35{width:35%;} .s50{width:50%;} .s65{width:65%;} .s85{width:85%;}
  .lc{text-transform:lowercase;}
  .fl{float:left!important;display:block;position:relative;}
  .lh1{line-height:1px;} .lh26{line-height:26px;} .lh36{line-height:36px;}
  .fr{float:right!important;display:block;position:relative;}
  #ws a{text-decoration:none;}
  #ws .widget a.mo h2,#ws .content-clip a.mo,#ws .content-clip a.mo div{text-decoration:underline;}
  a.fr{z-index:2;}
  .cb{clear:both;font-size:1px;}
  /*a img{border:none;}*/
  .wrap{width:1000px;text-align:left;margin:0 auto;clear:both;}
  #ws div.overlay{width:100%;height:100%;background:url(../b2/_images/overlay-black.png);position:absolute;top:0;left:0;z-index:30;padding:0!important;margin:0!important;border:none!important;}
  #ws div.overlay .loading,div.inner-loading{background:url(../b2/_images/ajax-loader.gif) no-repeat scroll 0 20px transparent;height:32px;left:50%;margin:-16px 0 0 -16px;position:absolute;top:50%;width:32px;text-align:center;color:#000;font-size:12px;text-transform:uppercase;padding-bottom:20px;}
	#ws .hide{display:none;}
  #ws h2.hide{display:none!important;}
  #ws h2.show{display:block!important;}
	#ws a.bt{cursor:pointer;}
	
	#ws #menu .content-inner{border:none!important;}
	
	#ws .list-item .mr-img{margin-right:10px;}
	#ws .list-item .mb-img{margin-bottom:5px;}
	#ws .list-item .mr-item{margin-right:15px;}	
	
/* SHARE OPTIONS */
	#ws .share-1,#ws .share-2{position:relative;}
	#ws .share-3,#ws .share-4{position:absolute;top:0;z-index:4;width:60px;}
	#ws .share-3{left:-70px;right:auto;}
	#ws .share-4{left:auto;right:-70px;}
	
/* BOX AVISO */
  #box-aviso{background-color:#fff;border:1px solid #333;left:50%;margin:-100px -151px;overflow:hidden;padding:10px 20px 20px;text-align:left;position:absolute;top:50%;width:308px;z-index:9999;color:#000;line-height:17px;}
  #box-aviso p a{text-decoration:underline;}
  #box-aviso a.button{width:38%!important;}
  a.button{text-decoration:none!important;position:relative;text-decoration:none;color:#FFF!important;display:block;height:29px;line-height:28px!important;overflow:hidden;text-align:center;text-transform:uppercase;padding:0 15px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-size:12px;cursor:pointer;font-weight:normal!important;font-style:normal;}
	a.button.a,a.button.b,a.button.c{background-color:#EE4164;}
	a.button.over{background-color:#000;text-decoration:none;color:#fff!important;}
  a.share-rss{background:url(../b2/_images/page-share.png) 0 0 transparent;width:59px;height:20px;margin:0 33px 0 2px;}
  a.suporte-devpx{height:auto!important;line-height:17px!important;padding:5px 15px!important;text-align:left!important;text-transform:none!important;}

/* SITE CLIENTE */
	#ws #header{position:relative;z-index:2;}
	#ws #page{position:relative;z-index:1;}
	#ws #footer{position:relative;z-index:1;margin:0!important;}
	#editor #ws .wrap-inner{height:auto;}
	#ws .search-item b span{font-weight:normal;}
	input{border-width:0;border-color:#000;background-color:#fff;outline:none!important;}
	#ws .widget a{text-decoration:none;}
	#ws #header .content-data a{text-decoration:none!important;}
	#ws .site-header h1,#ws .site-header h2{z-index:2;white-space:nowrap;}
	#ws .site-header h1.center,#ws .site-header h2.center{left:0!important;width:100%!important;text-align:center;}
	#ws #header div.search{z-index:4;}
  #ws #header div.gtranslate{z-index:5;}
  #ws #header div.gtranslate .goog-te-menu-value span:first-child{display:inline-block;line-height:10px;overflow:hidden;white-space:nowrap;width:110px;}
	#ws #header img{z-index:1;border:none;}
  #ws .content-inner .search-item a{text-decoration:underline!important;}
	/*#ws .content-inner .list-item img{float:left;margin-right:10px!important;padding:0!important;}*/
	#ws .content-inner .product-read img{margin-right:15px;}
	#ws .orkut a,#ws .flickr a,#ws .picasa a,#ws .facebook a,#ws .youtube a{text-decoration:none;}
	#ws .site-footer .content-data{height:auto!important;overflow:hidden;}
	#ws .site-header h1,#ws .site-header h2,#ws .site-header img,#ws .site-header div.search,#ws .site-header div.gtranslate{position:absolute;}
	#ws .site-header div.search input{border-color:#000;width:200px;height:21px;vertical-align:middle;padding:0 25px 0 5px;background:url(../b2/_images/ws-search.png) right center no-repeat #fff;}
	#ws .site-header div.search a.search-submit{position:absolute;top:50%;margin-top:-10px;right:10px;background-color:transparent;width:21px;height:21px;display:block;text-indent:-9999px;cursor:pointer;}
	#ws .site-header form.frm-search{position:relative;z-index:2;} 
  #ws .w{width:920px;}
  #ws .content-gutter{overflow:visible;}
  #ws .content-inner{width:auto!important;overflow:visible;height:inherit;border-color:#000;}
  #ws #page .content-inner,#ws .home-aviso .content-inner{overflow:hidden;}
	#ws.pg-home .widget .content-inner{overflow:hidden;}
  #ws #header .zone.page .content-inner{overflow:hidden;}
  #ws #header .zone.page #menu .content-inner{overflow:visible;}
  #ws #menu .content-inner{overflow:visible;}
  #ws .widget-header img{width:120px;height:120px;margin:10px 10px 20px;}
  #ws .fixed .dg-handle,#ws .slide-show .dg-handle{display:none;}
  #ws #header .hd-drag .dg-handle{display:block!important;}
  #ws .fixed .dg-delete{display:none;}
  #ws .fixed .dg-wrap{cursor:auto;}
  #ws .widget-api .content-data{text-indent:-9999px;height:250px;background-color:inherit;border-color:inherit;overflow:hidden;}
  #ws .side-bar .widget-api .content-data{height:auto!important;overflow:visible;}
  #ws .widget-api .content-data .twitter p{clear:both;overflow:hidden;}
  #ws .widget-api .content-scroll{width:100%;border-color:inherit;position:relative;overflow:hidden;}
  #ws .widget-api .page-html .content-scroll{text-align:center;}
  #ws .widget-api .content-outer{text-indent:0;overflow:visible;height:inherit;width:auto!important;position:relative;background-color:inherit;border-color:inherit;}
  /*#ws .widget-api .content-outer .api-controls{height:40px;width:100%;position:absolute;bottom:-1px;left:0;background-color:inherit;z-index:1001;}*/
  #ws .widget-api .content-outer .api-controls{background:url(../b2/_images/ui-site.png) no-repeat 0 0;height:21px;position:absolute;right:0;top:0;width:55px;z-index:1001;}
  #editor #ws .widget-api .content-outer .api-controls{display:none;}
  #ws .widget-api .content-outer .api-controls a{height:20px;width:20px;position:absolute;bottom:5px;display:block;}
  #ws .widget-api .content-outer .api-controls a.next{left:30px;background:url(../b2/_images/ui-site.png) no-repeat -78px 11px transparent;}
  #ws .widget-api .content-outer .api-controls a.prev{left:5px;background:url(../b2/_images/ui-site.png) no-repeat -60px 10px transparent;}
  #ws .widget-api .content-outer .api-controls a.next.over{background-position:-78px -33px;}
  #ws .widget-api .content-outer .api-controls a.prev.over{background-position:-60px -34px;}
  #ws .content p{margin:0 0 10px 0!important;overflow:visible;}
  #ws h1,#ws h2,#ws h3{overflow:visible;}
  #ws .widget-header h1,#ws .widget-header h2{margin-left:-20px!important;padding:0 20px!important;}
  /*#ws{position:relative;overflow-x:auto;overflow-y:hidden;}
  #ws .wrap-scroll{width:100%;height:100%;overflow:auto;}*/
  #ws .zone-wrap{position:relative;clear:both;z-index:1;}
  #ws .zone-swap{z-index:2!important;position:relative;}
  #ws .zone{text-align:left;position:relative;display:block;margin-right:auto;margin-left:auto;width:100%;border-left-width:0!important;border-right-width:0!important;}
  #ws .content-wrap{margin:0 auto;text-align:left;position:relative;}
  #ws .line{width:100%;position:relative;clear:both;}
  #ws .cel{position:relative;float:left;min-height:20px;height:inherit;}
  #ws #side-bar .cel{float:none;}
  #ws .cel.empty{outline:2px dashed red;padding:40px 0;}
  #ws .content{width:auto!important;position:relative;height:inherit;}
  /*#ws .page{overflow:hidden;}*/
  #ws .column{float:left;position:relative;height:auto;}
  #ws .api-data{display:none;}
  #ws .content-data{height:100%;position:relative;}
  #ws .read-content a{text-decoration:underline;}
  #ws .content-page h2{line-height:1em;}
  /*#ws .content-data a img{border:none;}*/
  #ws h1.focus,#ws h2.focus,#ws div.text.focus{background-color:#FFFFCC!important;color:#000!important;outline:none!important;}
  #ws .widget h2{text-decoration:none;}
  #ws a.social-link{text-decoration:none;}
  .overlay-img img{width:auto;height:480px;}
  .overlay-img .media-wrap{position:absolute;top:50%;left:50%;margin:-240px 0 0 -320px;text-align:center;width:640px;height:480px;}
  .overlay-img .media-wrap .photo-info{position:absolute;bottom:0;width:600px;text-align:left;color:#FFF!important;background:url(../b2/_images/overlay.png);padding:5px 20px;}
  a.more-photos{background-color:#000000;color:#FFFFFF;font-size:60px;height:75px;line-height:38px;text-align:center;text-decoration:none;width:75px;}
  #ws a.photo-bg{width:75px;height:75px;background-position:center center;background-repeat:no-repeat;}
  div.photo-over{position:absolute;float:left;}
  #ws .widget-header .content-inner{overflow:hidden;}
  #ws .content-clip{overflow:hidden;border-color:inherit;position:relative;}
  #ws .page-content .content-clip,#ws .home-aviso .content-clip{overflow:visible;}
  #ws .page-content .read-content h1{display:block!important;}
  #ws #side-content{z-index:2;position:relative;}
  #ws .content-clip small{display:block;border:none;font-size:0.9em;width:50%;overflow:hidden;min-height:10px;_height:10px;min-width:10px;_width:10px;}
  #ws .twitter small{display:inline;margin-left:10px;}
  #ws .twitter small a{text-decoration:underline;}
  #ws .content-clip h2 small{font-size:0.8em;}
  #ws .content-clip.facebook a,#ws .content-clip.orkut a,#ws .content-clip.picasa a,#ws .content-clip.youtube a,#ws .content-clip.flickr a{margin:5px;display:block;border:none;width:75px;height:75px;background-color:#ccc;}
  #ws .content-clip.rss a{display:block;border:none;}
  #ws .content-clip.blogger a{display:block;border:none;}
  #ws .content-clip.wordpress a{display:block;border:none;}
  #ws .content-clip a.over{border-width:5px;display:block;border-style:solid;margin:0!important;border-color:inherit;}
  #ws .content-clip a{color:inherit;}
  #ws .list-last-item span.desc{display:block;}
  #ws .hi .list-last-item img{display:none;}
  #ws .hd .list-last-item span.desc{display:none;}
  #ws .site .widget-api h2,#ws.site .widget-api h2{background-image:none;}
  #ws .site-pages a,#ws .site-pages b{padding:0 10px;}
  #ws center.no-result{padding:100px 0;}
  #ws .calendar{position:relative;width:100%;margin-left:1px;padding-bottom:100px;}
	#ws .calendar-cel .calendar-itens{overflow:hidden;position:relative;width:100%;height:100%;}
	#ws .calendar .calendar-title h2{display:inline;margin:0 25px!important;}
	#ws .calendar .calendar-title a{cursor:pointer;text-decoration:underline;}
	#ws .calendar .calendar-cel{width:14%;border:1px solid #000;margin:-1px 0 0 -1px;position:relative;}
	#ws .calendar .th{height:auto!important;background-color:#000;color:#fff;text-align:center;}
	#ws .calendar .calendar-cel span.day{display:block;padding:2px 0 0 5px;position:absolute;top:0;left:0;font-size:12px;}
	#ws .calendar .calendar-details{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;width:200px;padding:5px;background-color:#000!important;color:#fff!important;position:absolute;z-index:2;right:0;top:0;margin-top:25px;}
	#ws .calendar .calendar-details b{text-transform:uppercase;}
	#ws .calendar .calendar-item{border-style:solid;border-color:#000;text-indent:-9999px;width:100%;background-color:#fff;height:22px;cursor:pointer;position:relative;z-index:1;position:absolute;left:0;}
	#ws .calendar .calendar-item.over{background-color:#000!important;}
	#ws .calendar .calendar-cel .icon{background-image:url(../b2/_images/calendario.png);background-repeat:no-repeat;background-position:0 50%;}
	#ws .calendar .calendar-cel .left{-moz-border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;border-radius:7px 0 0 7px;left:4px;border-width:1px 0 1px 1px;}
	#ws .calendar .calendar-cel .right{-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;right:4px;left:auto;border-width:1px 1px 1px 0;}
	#ws .calendar .calendar-cel .middle{border-width:1px 0 1px 0;}
	#ws .calendar .calendar-cel .single{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;border-width:1px;margin-left:2px!important;width:95%;}
	#ws .devby{font-size:11px;line-height:11px;margin:0;padding:5px 0;text-align:right;}
	#ws .devby a{text-decoration:underline;outline:none!important;color:inherit!important;}
	#ws .content-inner form p.line{margin:0 0 10px 0;}
  .left-top{background-position:left top!important;}
  .center-top{background-position:center top!important;}
  .right-top{background-position:right top!important;}
  .left-center{background-position:left center!important;}
  .center-center{background-position:center center!important;}
  .right-center{background-position:right center!important;}
  .left-bottom{background-position:left bottom!important;}
  .center-bottom{background-position:center bottom!important;}
  .right-bottom{background-position:right bottom!important;}
  .repeat{background-repeat:repeat!important;}
  .repeat-x{background-repeat:repeat-x!important;}
  .repeat-y{background-repeat:repeat-y!important;}
  .no-repeat{background-repeat:no-repeat!important;}
  .fixed{background-attachment:fixed!important;}
  .scroll{background-attachment:scroll!important;}
  /*#editor #ws #page,#preview #ws #page,#editor #ws .editor-wrap{background-image:inherit;background-color:transparent;background-position:inherit;background-attachment:inherit;background-repeat:inherit;}
  #editor #ws.fixed #page,#preview #ws.fixed #page,#editor #ws.fixed .editor-wrap{background-image:none;}
  #editor #ws .editor-wrap #page{background-image:none;}*/
  #ws #page iframe,#ws #footer iframe{position:relative;z-index:1;display:block;}
  #ws .no-photo .twitter p img{display:none;}
  #ws .widget-header .content-clip a{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#FFF;background-position:3px 3px;background-repeat:no-repeat;border: 1px solid #333;display:block;float:left;height:16px;margin:2px;padding:3px;width:16px;}
  #ws #menu{position:absolute;z-index:2;top:0;left:0;}
  #ws ul.ws-menu.left{float:left;}
  #ws ul.ws-menu{margin-right:0;}
  #ws ul.ws-menu.right{float:right;margin-left:0!important;}
  #ws ul.ws-menu.left{float:left;margin-right:0!important;}
	#ws #menu ul,#ws #ws-submenu ul{padding:0;margin-bottom:0;margin-top:0;}
	#ws #menu ul li a{text-decoration:none;display:block;}
	/*#ws #ws-submenu{height:500px;overflow-y:auto;overflow-x:visible;}*/
	#ws ul.ws-menu li{display:block;float:left;list-style:none;position:relative;border-color:#000;cursor:pointer;}
	#ws ul.ws-menu li.first{margin-left:0!important;}
	#ws ul.ws-menu li.last{margin-right:0!important;}
	/*#ws ul.ws-submenu li.first{margin-top:0!important;}*/
	#ws #menu ul li ul{display:none;}
	#ws #ws-submenu{position:absolute;z-index:909;text-align:left;display:none;}
	#ws ul.ws-submenu{padding:0;margin:0;}
	#ws ul.ws-submenu li{display:block;list-style:none;position:relative;border-color:#000;}
	#ws ul.ws-submenu li a{text-decoration:none;display:block;}
  
  #ws .header-signup{position:absolute;z-index:3;top:20px;float:left;right:0;}
  #ws .header-signup ul,#ws .header-signup ul.right{float:right;margin-right:0;}
  #ws .header-signup ul.left{float:left;margin-left:0;}
	#ws .header-signup ul{padding:0;margin-bottom:0;margin-top:0;}
	#ws .header-signup ul li a{text-decoration:none;display:block;color:#fff;}
	#ws .header-signup ul li{display:block;float:left;list-style:none;position:relative;border-color:#000;padding:0 10px;margin:0 1px;background-color:#000;}
	#ws .header-signup ul li.first{margin-left:0!important;}
	#ws .header-signup ul li.last{margin-right:0!important;}
  
	#ws #menu .content-inner{padding-top:0;padding-bottom:0;}
  #ws .page-content table{width:100%!important;border-width:1px;border-style:solid;border-collapse:collapse;}	
	#ws .page-content table td{border-width:1px;border-style:solid;padding: 2px;}
	#ws .page-content table.no-border{border:none;border-collapse:collapse;}	
	#ws .page-content table.no-border td{border:none;padding: 2px;}
	#ws .page-content table.kart td{padding:8px 4px;}
	#ws .page-content table.kart .total{border-top:2px solid;}
	#ws .site-footer table{width:100%!important;border-width:1px;border-style:solid;border-collapse:collapse;}	
	#ws .site-footer table td{border-width:1px;border-style:solid;padding: 2px;}
	#ws .site-footer table.no-border{border:none;border-collapse:collapse;}	
	#ws .site-footer table.no-border td{border:none;padding: 2px;}
	#ws .home-aviso table{width:100%!important;border-width:1px;border-style:solid;border-collapse:collapse;}	
	#ws .home-aviso table td{border-width:1px;border-style:solid;padding: 2px;}
	#ws .home-aviso table.no-border{border:none;border-collapse:collapse;}	
	#ws .home-aviso table.no-border td{border:none;padding: 2px;}
  .image-wrap.left{float:left;padding:0 10px 0 0;}
  .image-wrap.right{float:right;padding:0 0 0 10px;}
  .image-wrap.center{text-align:center;margin:0 auto;display:block;}
  .image-wrap div{text-align:left;}
  #ws .image-wrap.p{width:200px;height:auto;}
  #ws .image-wrap.m{width:350px;height:auto;}
  #ws .image-wrap.g{width:500px;height:auto;}
  #ws form .line{margin-bottom:10px;text-align:left;outline:none!important;}
  #ws form .line label{width:100%;display:block;}
  #ws form .line .field{width:90%;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#FFF;border-width:1px;border-style:solid;border-color:inherit;color:inherit;padding: 0 0 0 7px;text-align:left;font-size:inherit;font-family:inherit;color:#000!important;}
  #ws form .line input.qtd{width:90px;text-align:center;}
  #ws form .line input{height:auto;line-height:inherit;padding:2px 0 2px 0px;color:#000;}
  #ws form .line input.xp{width:35px;padding:0;text-align:center;}
  #ws form .line input.p{width:95px;}
  #ws form .line input.m,#ws form .line select.m{width:250px;}
  #ws form .line select,#ws form .line select option{height:25px;line-height:25px;width:90%;padding:0;}
  #ws form .line select{border-width:1px;border-style:solid;border-color:inherit;color:#000!important;}
  #ws form .line input.radio{border:none;background-color:transparent;padding:0;width:auto;height:auto;}
  #ws input.submit{background-color:#ccc;color:#000;text-align:center;width:auto;height:auto;line-height:inherit;padding:2px 10px;}
	#ws #side-content .content-data{height:auto!important;}
  #ws #header #google_translate_element{position:absolute;}
	#ws #header #google_translate_element img{position:relative;width:auto;height:auto;}
  #ws #header #google_translate_element img.goog-te-gadget-icon{width:18px;height:18px;}
  #ws .widget-api .page-text a img{border:none;}
  #ws .content-data a img{border-width:0;}
  
/* HERANÇA DE CANTOS */
	/*#ws .corner-inherit .content-inner,#ws .corner-inherit .content-data,#ws .corner-inherit .content-outer,#ws .corner-inherit .content-clip,#ws .corner-inherit .content-scroll,#ws .corner-inherit a.photo,#ws .widget-api .corner-inherit img,#ws .widget-api .corner-inherit a,#ws .widget-api .corner-inherit p,#ws .corner-inherit .list-item a,#ws .corner-inherit .list-item,#ws .corner-inherit .list-item img{-moz-border-radius:inherit;-webkit-border-radius:inherit;border-radius:inherit;}*/
	#ws .page-text img.cb{width:100%;height:auto;}
	
/* GALLERY */  
  #ws .gallery-wrap{width:500px;height:507px;overflow:hidden;margin:10px auto;text-align:center;}
  #ws .gallery-wrap .nav-clip{width:445px;height:85px;overflow:hidden;}
  #ws .gallery-wrap .img-g{width:500px;height:420px;overflow:hidden;position:relative;text-align:center;}
  #ws .gallery-wrap .img-nav{width:500px;height:85px;overflow:hidden;margin-top:2px;}
  #ws .gallery-wrap a.prev,#ws .gallery-wrap a.next{width:25px;height:75px;display:block;width:25px;height:75px;background-color:#e7e7e7;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #888;margin-top:5px!important;}
  #ws .gallery-wrap a.prev span,#ws .gallery-wrap a.next span{width:11px;height:21px;display:block;position:absolute;top:26px;left:7px;background:url(../b2/_images/ui-site.png) no-repeat 0 0 transparent;}
  #ws .gallery-wrap a.prev span{background-position:0 -21px;}
  #ws .gallery-wrap a.next span{background-position:-12px  -21px;}
  #ws .gallery-wrap .img-g a.prev,#ws .gallery-wrap .img-g a.next{position:absolute;top:50%;margin-top:-22px!important;display:none;width:45px;height:45px;z-index:5;}
  #ws .gallery-wrap .img-g.over a.prev,#ws .gallery-wrap .img-g.over a.next{display:block;}
  #ws .gallery-wrap .img-g a.prev{left:5px;}
  #ws .gallery-wrap .img-g a.next{right:5px;}
  #ws .gallery-wrap .img-g a.prev span{top:13px;left:16px;}
  #ws .gallery-wrap .img-g a.next span{top:13px;left:18px;}
  #ws .gallery-wrap .img-g span.zoom{width:17px;height:17px;position:absolute;top:10px;right:10px;background:url(../b2/_images/ui-site.png) no-repeat -25px -21px transparent;cursor:pointer;}
  #ws .gallery-wrap a.over{background-color:#888;}
  #ws .gallery-wrap .img-nav ul{list-style:none;margin:0;padding:0;}
  #ws .gallery-wrap .img-nav ul li{float:left;}
  #ws .gallery-wrap .img-nav ul li a{display:block;margin:5px;width:75px;height:75px;}
  #ws .gallery-wrap .img-nav ul li a img{padding:0;margin:0;border:none;}
  #ws .gallery-wrap .img-g div.description{position:absolute;bottom:0;left:0;width:100%;height:auto;background:url(../b2/_images/overlay.png);color:#fff;line-height:20px;display:block;}
  #ws .gallery-wrap .img-g div.description p{margin:0;padding:10px 20px;}
  #ws .gallery-wrap .img-g .animate{background-color:inherit;position:absolute;top:0;left:0;text-align:center;width:500px;height:420px;z-index:4;}
  #ws .gallery-wrap .img-g a.big{display:block;width:100%;height:100%;background-position:center center;background-repeat:no-repeat;}
	#ws .gallery-wrap .nav-clip a img{border:none!important;}
  #ws .ws-plimxbox{overflow:hidden;text-align:center;background-image:url(../b2/_images/overlay-black.png)}
  #ws .ws-plimxbox img{width:auto;height:auto;border:3px solid #000;position:absolute;z-index:4;display:none;top:50%;left:50%;}
  #ws .ws-plimxbox iframe{width:640px;height:390px;border:none;margin:-195px 0 0 -320px;padding:0;position:absolute;z-index:4;display:block;top:50%;left:50%;}
  #ws .ws-plimxbox div.loading{z-index:3!important;}
  #ws .ws-plimxbox .controls{width:500px;height:77px;left:50%;margin-left:-250px;position:absolute;z-index:5;background:url(../b2/_images/overlay.png) repeat scroll 0 0 transparent;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;bottom:20px;text-align:center;color:#fff;}
  #ws .ws-plimxbox .controls .pages{position:absolute;left:15px;top:6px;width:68px;text-align:center;}
  #ws .ws-plimxbox .controls .text{text-align:left;padding:15px 15px 0px;width:327px;}
  #ws .ws-plimxbox .controls p{margin:5px 0;}
  #ws .ws-plimxbox .controls a.prev,#ws .ws-plimxbox .controls a.next,#ws .ws-plimxbox .controls a.close{width:29px;height:29px;display:block;margin:32px 5px 0 0;background-color:#e7e7e7;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #888;}
  #ws .ws-plimxbox .controls a.close{margin-right:15px;margin-top:23px;cursor:pointer;}
  #ws .ws-plimxbox .controls a.prev{margin-left:15px;}
  #ws .ws-plimxbox .controls a.prev span,#ws .ws-plimxbox .controls a.next span,#ws .ws-plimxbox .controls a.close span{width:11px;height:21px;display:block;position:absolute;top:5px;left:7px;background:url(../b2/_images/ui-site.png) no-repeat 0 0 transparent;}
  #ws .ws-plimxbox .controls a.close span{background-position:-43px -21px;left:7px;top:7px;width:15px;height:15px;}
  #ws .ws-plimxbox .controls a.prev span{background-position:0 -21px;left:8px;}
  #ws .ws-plimxbox .controls a.next span{background-position:-13px  -21px;left:10px;}
  #ws .ws-plimxbox .controls a.over{background-color:#888;}
  #ws .page-content a.bt{display:block;padding:2px 10px;text-align:center;}
  #ws .map-wrap div div div div div div div{overflow:hidden!important;}
  #ws .map-wrap .info-window{font-size:12px!important;line-height:14px!important;padding: 2px 0;color:#000!important;}
  #ws table.product td h2{margin:0;}
  
	#ws .content-inner .list-item{margin-bottom:15px;overflow:hidden;}
	#ws .content-inner .list-5{margin-bottom:10px;}
	#ws .content-inner .list-6{margin-bottom:10px;}
	#ws .content-inner .list-10{margin-bottom:10px;}
	#ws .content-inner .list-11{margin-bottom:10px;}
	#ws .content-inner .list-12{margin-bottom:10px;}
  #ws .content-inner .list-1{margin-bottom:10px;}
	#ws .content-inner .list-item a{color:inherit!important;}
	#ws .content-inner .im100 img{width:100%;height:auto;}
	#ws .content-inner .rollover{position:relative;}
  .page-content .list-item div.info{display:none;background:url(../../b2/_images/overlay.png) repeat scroll 0 0 transparent;position:absolute;color:#fff;bottom:5px;left:0;width:100%;}
	.page-content .list-item div.info span{padding:5px;display:block;}
  .page-content .over div.info{display:block;}
  .page-content .list-2 p,.page-content .list-3 p,.page-content .list-7 p,.page-content .list-8 p{padding-right:15px;}
  

/* SLIDESHOW */
	#ws .slide-show ul{padding:0;margin:0;list-style:none;background-color:transparent;width:100%;}
	#ws .slide-show ul li{padding:0;margin:0;list-style:none;display:none;position:absolute;top:0;left:0;line-height:1px;overflow:hidden;}
	#ws .slide-show ul li img{border:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
  #ws .slide-show .description{position:absolute;bottom:0;left:0;width:100%;height:auto;color:#fff;line-height:20px;display:none;}
  #ws .slide-show .description p{margin:0!important;padding:10px 20px;position:relative;z-index:2;}
  #ws .slide-show .description .bg{background-color:#000;height:100%;left:0;opacity:0.5;filter:alpha(opacity=50);position:absolute;top:0;width:100%;z-index:1;}
	#ws .slide-show .content-inner,#ws #menu .content-inner{padding:0!important;}
	#ws .slide-show .content-data{height:250px!important;position:relative;}
  #ws .banner-html .content-data{height:auto!important;}
	#ws .slide-show.s .content-data{height:50px!important;}
	#ws .slide-show.p .content-data{height:150px!important;}
	#ws .slide-show.g .content-data{height:350px!important;}
	#ws .swfshow .content-data{height:auto!important;font-size:1px;}
	#ws .slide-show .slidelink,#ws .slide-show .inactive{cursor:pointer;}

/* PLIMX-BAR*/
  #sys-bar{background-color:#FCFCFC;height:48px;line-height:48px;border-bottom:1px solid #B5B1B3;z-index:10;position:absolute;top:0;left:0;width:100%;}
  #sys-bar a{color:#000;font-weight:normal;line-height:47px;}
  #sys-bar a.first{margin-left:230px;}
  #sys-bar a.over{color:#E68E0B;text-decoration:underline;}
  #sys-bar a.on{text-decoration:none;font-weight:bold;color:#000;}
  #sys-bar span{color:#000;line-height:38px;}
  #sys-bar a.box{background-color:#cfcfcf;height:32px;line-height:30px;margin:4px 0 0 4px;padding: 0 10px;text-align:center;text-decoration:none!important;color:#555;}
  #sys-bar a.login{background-color:#333;color:#FFFFFF;}
  #sys-bar a.box.over{background-color:#E68E0B;color:#fff;}
  #sys-bar a.logo{background:url(../b2/_images/ui-v16.png) no-repeat scroll 0 0 transparent;height:28px;margin:9px 0 0 0;text-indent:-999px;width:89px;}
  #sys-bar a.logo-sitepx{background-position:0 0;}
  #sys-bar a.user img{margin:4px 6px 0 0;float:left;}
  #sys-bar div.info-login{padding:0;text-align:left;position:absolute;width:211px;height:53px;margin:0;top:0;right:0;z-index:8999;background-color:#FCFCFC;cursor:pointer;}
  #sys-bar div.info-login .bar-l,#sys-bar div.info-login .bar-r{width:3px;height:53px;background:url(../../b2/_images/ui-site-v3.png) no-repeat 0 0;position:absolute;top:0;z-index:2;}
  #sys-bar div.info-login .bar-l{background-position:-89px 0;left:0;}
  #sys-bar div.info-login .bar-r{background-position:-92px 0;right:0;}
  #sys-bar div.info-login.over .bar-l{background-position:-894px -68px;}
  #sys-bar div.info-login.over .bar-r{background-position:-897px -68px;}
  #sys-bar div.info-login a.logout{display:block;width:17px;height:17px;position:absolute;top:25px;right:10px;background:url(../_images/ui-site-v3.png) no-repeat 0 -45px transparent;z-index:5;}
  #sys-bar div.info-login span.user{display:block;width:26px;height:26px;position:absolute;top:15px;left:17px;background-color:#e0e0e0;z-index:5;}
  #sys-bar div.info-login span.name{line-height:53px;padding:0 0 0 59px;display:block;width:149px;height:53px;color:#000;font-size:13px;z-index:5;position:relative;}
  #sys-bar div.info-login ul{display:none;padding:55px 0 15px;width:213px;margin:0 0 0 -2px;background:url(../_images/gui_bguser.png) no-repeat scroll 0 bottom transparent;z-index:3;top:-1px;left:1px;position:absolute;}
  #sys-bar div.info-login ul li{color:#ee4164;list-style:disc inside none;margin:0 15px;padding:0 5px;line-height:35px!important;height:35px;position:relative;}
  #sys-bar div.info-login ul li a{color:#929292;display:inline-block;line-height:28px!important;padding:0 5px;width:143px;}
  #sys-bar div.info-login.on ul{display:block;}
  #sys-bar div.info-login.over{background-color:#f5f5f5;}
  #footer a.logo-plimx{background:url(../_images/ui-site-v3.png) no-repeat scroll -97px 0 transparent;height:37px;text-indent:-9999px;width:115px;}
  #sys-bar div.search{position:relative;margin:6px 230px 0 0;}
	#sys-bar div.search input.m{padding-right:22px;}
	#sys-bar div.search .search{outline:none!important;cursor:pointer;border:none;text-indent:-999px;position:absolute;display:block;width:20px;height:20px;top:50%;margin-top:-10px;right:5px;background:url(../b2/_images/ui-v16.png) -190px 0 transparent;}
	#sys-bar div.search input,#sys-bar div.search input:active{outline:none!important;}
	div.site-mode{width:270px;height:32px;position:absolute;top:75px;left:368px;z-index:11;}	
	.sd a.view,.sd a.view-close{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#FAFAFA;color:#000!important;cursor:pointer;display:block;font-size:13px;overflow:hidden;padding:0 15px;position:relative;text-align:center;text-decoration:none!important;text-transform:uppercase;border-top:1px solid #999999;box-shadow:0 20px 25px #D1D1D1 inset;height:34px;line-height:31px!important;position:absolute;right:-40px;top:75px;width:179px;}
  #sys-bar .view-site a.view-close{right:145px!important;top:7px!important;width:108px;}
  #view-site .sd a.view-close{top:6px;right:-42px;}
  .sd a.view.over,.sd a.view-close.over{box-shadow:0 -14px 25px #D1D1D1 inset;}
	.side-L a.view{margin:-65px -281px 0 0;}
  
/* CLASSES DE EDIÇÃO */
	h1.hide,h2.hide,h3.hide{display:none;}
	h1.right,h2.right,h3.right{text-align:right;}
	h1.center,h2.center,h3.center{text-align:center;}
	.slide-show .left{text-align:left!important;}
  .slide-show .right{text-align:right!important;}
	.slide-show .center{text-align:center!important;}  
	.slide-show .description p{text-align:inherit!important;}
  .page-html .text{text-align:left;margin:10px auto;display:inline-table;}

  .s100{width:100%!important;}
  .s75{width:75%;}
	.s65{width:65%;}
	.s55{width:55%;}
  .s45{width:45%;}
  .s50{width:50%;}
  .s25{width:25%;}
	.s35{width:35%;}
  .s34{width:34%;}
  .s33{width:33%;}
  .s37{width:37%;}
  
  .c05{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
  .c10{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
  .c15{-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
  .c05n{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
  .c10n{-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
  .c15n{-moz-border-radius:15px 15px 0 0;-webkit-border-radius:15px 15px 0 0;border-radius:15px 15px 0 0;}
  .c05s{-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
  .c10s{-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;}
  .c15s{-moz-border-radius:0 0 15px 15px;-webkit-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px;}
  .c05nesw{-moz-border-radius:0 5px 0 5px;-webkit-border-radius:0 5px 0 5px;border-radius:0 5px 0 5px;}
  .c10nesw{-moz-border-radius:0 10px 0 10px;-webkit-border-radius:0 10px 0 10px;border-radius:0 10px 0 10px;}
  .c15nesw{-moz-border-radius:0 15px 0 15px;-webkit-border-radius:0 15px 0 15px;border-radius:0 15px 0 15px;}
  .c05nwse{-moz-border-radius:5px 0 5px 0;-webkit-border-radius:5px 0 5px 0;border-radius:5px 0 5px 0;}
  .c10nwse{-moz-border-radius:10px 0 10px 0;-webkit-border-radius:10px 0 10px 0;border-radius:10px 0 10px 0;}
  .c15nwse{-moz-border-radius:15px 0 15px 0;-webkit-border-radius:15px 0 15px 0;border-radius:15px 0 15px 0;}
  .c05e{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}
  .c10e{-moz-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0;}
  .c15e{-moz-border-radius:0 15px 15px 0;-webkit-border-radius:0 15px 15px 0;border-radius:0 15px 15px 0;}
  .c05w{-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
  .c10w{-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;border-radius:10px 0 0 10px;}
  .c15w{-moz-border-radius:15px 0 0 15px;-webkit-border-radius:15px 0 0 15px;border-radius:15px 0 0 15px;}
  .c05nw{-moz-border-radius:5px 0 0 0;-webkit-border-radius:5px 0 0 0;border-radius:5px 0 0 0;}
  .c10nw{-moz-border-radius:10px 0 0 0;-webkit-border-radius:10px 0 0 0;border-radius:10px 0 0 0;}
  .c15nw{-moz-border-radius:15px 0 0 0;-webkit-border-radius:15px 0 0 0;border-radius:15px 0 0 0;}
  .c05ne{-moz-border-radius:0 5px 0 0;-webkit-border-radius:0 5px 0 0;border-radius:0 5px 0 0;}
  .c10ne{-moz-border-radius:0 10px 0 0;-webkit-border-radius:0 10px 0 0;-moz-border-radius:0 10px 0 0;}
  .c15ne{-moz-border-radius:0 15px 0 0;-webkit-border-radius:0 15px 0 0;border-radius:0 15px 0 0;}
  .c05sw{-moz-border-radius:0 0 5px 0;-webkit-border-radius:0 0 5px 0;border-radius:0 0 5px 0;}
  .c10sw{-moz-border-radius:0 0 10px 0;-webkit-border-radius:0 0 10px 0;border-radius:0 0 10px 0;}
  .c15sw{-moz-border-radius:0 0 15px 0;-webkit-border-radius:0 0 15px 0;border-radius:0 0 15px 0;}
  .c05se{-moz-border-radius:0 0 0 5px;-webkit-border-radius:0 0 0 5px;border-radius:0 0 0 5px;}
  .c10se{-moz-border-radius:0 0 0 10px;-webkit-border-radius:0 0 0 10px;border-radius:0 0 0 10px;}
  .c15se{-moz-border-radius:0 0 0 15px;-webkit-border-radius:0 0 0 15px;border-radius:0 0 0 15px;}
  
  
  .sbse{-moz-box-shadow:4px 4px 4px #4C4C4C;-webkit-box-shadow:4px 4px 4px #4C4C4C;box-shadow:4px 4px 4px #4C4C4C;}
  .sbnw{-moz-box-shadow:-4px -4px 4px #4C4C4C;-webkit-box-shadow:-4px -4px 4px #4C4C4C;box-shadow:-4px -4px 4px #4C4C4C;}
  .sbsw{-moz-box-shadow:-4px 4px 4px #4C4C4C;-webkit-box-shadow:-4px 4px 4px #4C4C4C;box-shadow:-4px 4px 4px #4C4C4C;}
  .sbne{-moz-box-shadow:4px -4px 4px #4C4C4C;-webkit-box-shadow:4px -4px 4px #4C4C4C;box-shadow:4px -4px 4px #4C4C4C;}
  .sbnn{-moz-box-shadow:0px -4px 4px #4C4C4C;-webkit-box-shadow:0px -4px 4px #4C4C4C;box-shadow:0px -4px 4px #4C4C4C;}
  .sbss{-moz-box-shadow:0px 4px 4px #4C4C4C;-webkit-box-shadow:0px 4px 4px #4C4C4C;box-shadow:0px 4px 4px #4C4C4C;}
  .sbww{-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000;}
  
  .sssw{-moz-box-shadow:-5px 5px 0 #4C4C4C;-webkit-box-shadow:-5px 5px 0 #4C4C4C;box-shadow:-5px 5px 0 #4C4C4C;}
  .ssse{-moz-box-shadow:5px 5px 0 #4C4C4C;-webkit-box-shadow:5px 5px 0 #4C4C4C;box-shadow:5px 5px 0 #4C4C4C;}
  .ssne{-moz-box-shadow:5px -5px 0 #4C4C4C;-webkit-box-shadow:5px -5px 0 #4C4C4C;box-shadow:5px -5px 0 #4C4C4C;}
  .ssnw{-moz-box-shadow:-5px -5px 0 #4C4C4C;-webkit-box-shadow:-5px -5px 0 #4C4C4C;box-shadow:-5px -5px 0 #4C4C4C;}
  
  .tsse{text-shadow:1px 1px 2px #333;}
  .tbse{text-shadow:2px 2px 4px #333;}
  .tssw{text-shadow:-2px 2px 0 #333;}
  .tbsw{text-shadow:-2px 2px 4px #333;}
  .tsne{text-shadow:2px -2px 0 #333;}
  .tbne{text-shadow:2px -2px 4px #333;}
  .tsnw{text-shadow:-2px -2px 0 #333;}
  .tbnw{text-shadow:-2px -2px 4px #333;}
  .tbnw{text-shadow:-2px -2px 4px #333;}
  
  .b01{border-width:1px!important;border-style:solid;}
  .b01n{border-width:1px 0 0 0!important;border-style:solid;}
  .b01s{border-width:0 0 1px 0!important;border-style:solid;}
  .b01e{border-width:0 1px 0 0!important;border-style:solid;}
  .b01w{border-width:0 0 0 1px!important;border-style:solid;}
  .b01ew{border-width:0 1px 0 1px!important;border-style:solid;}
  .b01ns{border-width:1px 0 1px 0!important;border-style:solid;}
  .b01nu{border-width:0 1px 1px 1px!important;border-style:solid;}
  .b01su{border-width:1px 1px 0 1px!important;border-style:solid;}
  .b01wu{border-width:1px 0 1px 1px!important;border-style:solid;}
  .b01eu{border-width:1px 1px 1px 0!important;border-style:solid;}
  .b01ne{border-width:0 1px 1px 0!important;border-style:solid;}
  .b01sw{border-width:1px 0 0 1px!important;border-style:solid;}
  .b02{border-width:2px!important;border-style:solid;}
  .b02n{border-width:2px 0 0 0!important;border-style:solid;}
  .b02s{border-width:0 0 2px 0!important;border-style:solid;}
  .b02e{border-width:0 2px 0 0!important;border-style:solid;}
  .b02w{border-width:0 0 0 2px!important;border-style:solid;}
  .b02ew{border-width:0 2px 0 2px!important;border-style:solid;}
  .b02ns{border-width:2px 0 2px 0!important;border-style:solid;}
  .b02nu{border-width:0 2px 2px 2px!important;border-style:solid;}
  .b02su{border-width:2px 2px 0 2px!important;border-style:solid;}
  .b02wu{border-width:2px 0 2px 2px!important;border-style:solid;}
  .b02eu{border-width:2px 2px 2px 0!important;border-style:solid;}
  .b02ne{border-width:0 2px 2px 0!important;border-style:solid;}
  .b02sw{border-width:2px 0 0 2px!important;border-style:solid;}
  .b03{border-width:3px!important;border-style:solid;}
  .b03n{border-width:3px 0 0 0!important;border-style:solid;}
  .b03s{border-width:0 0 3px 0!important;border-style:solid;}
  .b03e{border-width:0 3px 0 0!important;border-style:solid;}
  .b03w{border-width:0 0 0 3px!important;border-style:solid;}
  .b03ew{border-width:0 3px 0 3px!important;border-style:solid;}
  .b03ns{border-width:3px 0 3px 0!important;border-style:solid;}
  .b03nu{border-width:0 3px 3px 3px!important;border-style:solid;}
  .b03su{border-width:3px 3px 0 3px!important;border-style:solid;}
  .b03wu{border-width:3px 0 3px 3px!important;border-style:solid;}
  .b03eu{border-width:3px 3px 3px 0!important;border-style:solid;}
  .b03ne{border-width:0 3px 3px 0!important;border-style:solid;}
  .b03sw{border-width:3px 0 0 3px!important;border-style:solid;}
  .b04{border-width:4px!important;border-style:solid;}
  .b04n{border-width:4px 0 0 0!important;border-style:solid;}
  .b04s{border-width:0 0 4px 0!important;border-style:solid;}
  .b04e{border-width:0 4px 0 0!important;border-style:solid;}
  .b04w{border-width:0 0 0 4px!important;border-style:solid;}
  .b04ew{border-width:0 4px 0 4px!important;border-style:solid;}
  .b04ns{border-width:4px 0 4px 0!important;border-style:solid;}
  .b04nu{border-width:0 4px 4px 4px!important;border-style:solid;}
  .b04su{border-width:4px 4px 0 4px!important;border-style:solid;}
  .b04wu{border-width:4px 0 4px 4px!important;border-style:solid;}
  .b04eu{border-width:4px 4px 4px 0!important;border-style:solid;}
  .b04ne{border-width:0 4px 4px 0!important;border-style:solid;}
  .b04sw{border-width:4px 0 0 4px!important;border-style:solid;}
  .b05{border-width:5px!important;border-style:solid;}
  .b05n{border-width:5px 0 0 0!important;border-style:solid;}
  .b05s{border-width:0 0 5px 0!important;border-style:solid;}
  .b05e{border-width:0 5px 0 0!important;border-style:solid;}
  .b05w{border-width:0 0 0 5px!important;border-style:solid;}
  .b05ew{border-width:0 5px 0 5px!important;border-style:solid;}
  .b05ns{border-width:5px 0 5px 0!important;border-style:solid;}
  .b05nu{border-width:0 5px 5px 5px!important;border-style:solid;}
  .b05su{border-width:5px 5px 0 5px!important;border-style:solid;}
  .b05wu{border-width:5px 0 5px 5px!important;border-style:solid;}
  .b05eu{border-width:5px 5px 5px 0!important;border-style:solid;}
  .b05ne{border-width:0 5px 5px 0!important;border-style:solid;}
  .b05sw{border-width:5px 0 0 5px!important;border-style:solid;}
  .b10{border-width:10px!important;border-style:solid;}
  .b10n{border-width:10px 0 0 0!important;border-style:solid;}
  .b10s{border-width:0 0 10px 0!important;border-style:solid;}
  .b10e{border-width:0 10px 0 0!important;border-style:solid;}
  .b10w{border-width:0 0 0 10px!important;border-style:solid;}
  .b10ew{border-width:0 10px 0 10px!important;border-style:solid;}
  .b10ns{border-width:10px 0 10px 0!important;border-style:solid;}
  .b10nu{border-width:0 10px 10px 10px!important;border-style:solid;}
  .b10su{border-width:10px 10px 0 10px!important;border-style:solid;}
  .b10wu{border-width:10px 0 10px 10px!important;border-style:solid;}
  .b10eu{border-width:10px 10px 10px 0!important;border-style:solid;}
  .b10wu{border-width:10px 0 10px 10px!important;border-style:solid;}
  .b10eu{border-width:10px 10px 10px 0!important;border-style:solid;}
  .b10ne{border-width:0 10px 10px 0!important;border-style:solid;}
  .b10sw{border-width:10px 0 0 10px!important;border-style:solid;}
  .b15{border-width:15px!important;border-style:solid;}
  .b15n{border-width:15px 0 0 0!important;border-style:solid;}
  .b15s{border-width:0 0 15px 0!important;border-style:solid;}
  .b15e{border-width:0 15px 0 0!important;border-style:solid;}
  .b15w{border-width:0 0 0 15px!important;border-style:solid;}
  .b15ew{border-width:0 15px 0 15px!important;border-style:solid;}
  .b15ns{border-width:15px 0 15px 0!important;border-style:solid;}
  .b15nu{border-width:0 15px 15px 15px!important;border-style:solid;}
  .b15su{border-width:15px 15px 0 15px!important;border-style:solid;}
  .b15wu{border-width:15px 0 15px 15px!important;border-style:solid;}
  .b15eu{border-width:15px 15px 15px 0!important;border-style:solid;}
  .b15ne{border-width:0 15px 15px 0!important;border-style:solid;}
  .b15sw{border-width:15px 0 0 15px!important;border-style:solid;}
  .b20{border-width:20px!important;border-style:solid;}
  .b20n{border-width:20px 0 0 0!important;border-style:solid;}
  .b20s{border-width:0 0 20px 0!important;border-style:solid;}
  .b20e{border-width:0 20px 0 0!important;border-style:solid;}
  .b20w{border-width:0 0 0 20px!important;border-style:solid;}
  .b20ew{border-width:0 20px 0 20px!important;border-style:solid;}
  .b20ns{border-width:20px 0 20px 0!important;border-style:solid;}
  .b20nu{border-width:0 20px 20px 20px!important;border-style:solid;}
  .b20su{border-width:20px 20px 0 20px!important;border-style:solid;}
  .b20wu{border-width:20px 0 20px 20px!important;border-style:solid;}
  .b20eu{border-width:20px 20px 20px 0!important;border-style:solid;}
  .b20ne{border-width:0 20px 20px 0!important;border-style:solid;}
  .b20sw{border-width:20px 0 0 20px!important;border-style:solid;}
  .bsd{border-style:solid!important;}
  .bds{border-style:dashed!important;}
  .bdt{border-style:dotted!important;}

  /*.Cantarell{font-family:'Cantarell'!important;}
  .CrimsonText{font-family:'Crimson Text'!important;}
  .DroidSans{font-family:'Droid Sans'!important;}
  .DroidSerif{font-family:'Droid Serif'!important;}
  .IMFellDWPicaSC{font-family:'IM Fell DW Pica SC'!important;}
  .Inconsolata{font-family:'Inconsolata'!important;}
  .YanoneKaffeesatz{font-family:'Yanone Kaffeesatz'!important;}
  .Tangerine{font-family:'Tangerine'!important;}
  .ReenieBeanie{font-family:'Reenie Beanie'!important;}
  .OldStandardTT{font-family:'Old Standard TT'!important;}
  .OFLSortsMillGoudyTT{font-family:'OFL Sorts Mill Goudy TT'!important;}
  .Nobile{font-family:'Nobile'!important;}
  .Neuton{font-family:'Neuton'!important;}
  .Molengo{font-family:'Molengo'!important;}
  .Lobster{font-family:'Lobster'!important;}
  .JosefinSansStdLight{font-family:'Josefin Sans Std Light'!important;}
  .Coda{font-family:'Coda'!important;}
  .Vollkorn{font-family:'Vollkorn'!important;}
  .TerminalDosisLight{font-family:'Terminal Dosis Light'!important;}
  .Oswald{font-family:'Oswald'!important;}
  .SixCaps{font-family:'Six Caps'!important;}
  .Amaranth{font-family:'Amaranth'!important;}
  .Pacifico{font-family:'Pacifico'!important;}
  .PTSerif{font-family:'PT Serif'!important;}
  .Bevan{font-family:'Bevan'!important;}
  .DancingScript{font-family:'Dancing Script'!important;}
  .Orbitron{font-family:'Orbitron'!important;}
  .Cuprum{font-family:'Cuprum'!important;}
  .Arimo{font-family:'Arimo'!important;}
  .LuckiestGuy{font-family:'Luckiest Guy'!important;}
  .Ubuntu{font-family:'Ubuntu'!important;}
  .Philosopher{font-family:'Philosopher'!important;}
  .PermanentMarker{font-family:'Permanent Marker'!important;}
  .Cabin{font-family:'Cabin'!important;}
  .JustAnotherHand{font-family:'Just Another Hand'!important;}*/

  .fwB{font-weight:700!important;}
  .fwR{font-weight:400!important;}
  .fsI{font-style:italic!important;}
  .fsN{font-style:normal!important;}
  .tsY{text-shadow:1px 1px 2px #333!important;}
  .tsN{text-shadow:none!important;}
  .uppercase{text-transform:uppercase!important;}
  .lowercase{text-transform:lowercase!important;}
  .normalcase{text-transform:none!important;}
  
  .lh38{line-height:38px!important;}
  .lh40{line-height:40px!important;}
  .lh42{line-height:42px!important;}
  .lh44{line-height:44px!important;}
  .lh46{line-height:46px!important;}
  .lh48{line-height:48px!important;}
  .lh50{line-height:50px!important;}
  .lh52{line-height:52px!important;}
  .lh54{line-height:54px!important;}
  .lh56{line-height:56px!important;}
  .lh58{line-height:58px!important;}
  .lh60{line-height:60px!important;}
  .lh62{line-height:62px!important;}
  .lh72{line-height:72px!important;}
  .lh96{line-height:96px!important;}
  .lh120{line-height:120px!important;}
  
  .ws_2{word-spacing:-2px!important;}
  .ws_1{word-spacing:-1px!important;}
  .ws00{word-spacing:0px!important;}
  .ws01{word-spacing:1px!important;}
  .ws02{word-spacing:2px!important;}
  .ws03{word-spacing:3px!important;}
  .ws04{word-spacing:4px!important;}
  .ws05{word-spacing:5px!important;}
  .ws06{word-spacing:6px!important;}
  .ws07{word-spacing:7px!important;}
  .ws08{word-spacing:8px!important;}
  .ws09{word-spacing:9px!important;}
  .ws10{word-spacing:10px!important;}
  .ws11{word-spacing:11px!important;}
  .ws12{word-spacing:12px!important;}
  .ws13{word-spacing:13px!important;}
  
  .fs08{font-size:8px!important;}
  .fs09{font-size:9px!important;}
  .fs10{font-size:10px!important;}
  .fs11{font-size:11px!important;}
  .fs12{font-size:12px!important;}
  .fs14{font-size:14px!important;}
  .fs16{font-size:16px!important;}
  .fs18{font-size:18px!important;}
  .fs20{font-size:20px!important;}
  .fs22{font-size:22px!important;}
  .fs26{font-size:26px!important;}
  .fs36{font-size:36px!important;}
  .fs48{font-size:48px!important;}
  .fs72{font-size:72px!important;}
  .fs96{font-size:96px!important;}
  .fs120{font-size:120px!important;}
  
  .txbd{font-weight:bold;}
  .txit{font-style:italic;}
  .txuc{text-transform:uppercase;}
  .txlc{text-transform:lowercase;}
  .txcl{text-transform:capitalize;}
  
  .p00{padding:0px;}
  .p05{padding:5px;}
  .p10{padding:10px;}
  .p15{padding:15px;}
  
  .m00{margin:0;}
  .m05{margin:5px 0;}
  .m10{margin:10px 0;}
  .m15{margin:15px 0;}/* GENERAL BEGIN */
.wrap-inner{background-image:url("http://www.sitepx.com/img/1/26-fundo-vermelho.jpg");background-repeat:no-repeat;background-position:790px 0px;}.wrap-scroll{background-image:none;}#ws #side-content{width:66%;float:left;}#ws .side-bar{width:34%;margin-top:0px;}#ws .w{width:920px;}#ws{text-align:center;}#ws .wrap-inner{padding-bottom:0px;}#ws .content-wrap{margin:0 auto;}#ws .zone{margin:0 auto;}#ws .content-gutter{padding:0 0px;}#ws #page .zone{background-color:transparent;}#ws #page-content .zone{background-color:transparent;}#ws .home-aviso .zone{background-color:transparent;}#ws .slide-show .zone{background-color:transparent;}#ws .slide-show .content-inner{background-color:transparent;margin:15px -7px -15px -7px;border-color:#ffffff;}#ws .slide-show .description .bg{background-color:transparent;}#ws .slide-show .description p{padding:10px 16px;}#ws #header .zone.page{background-color:transparent;}#ws #header{margin-top:0px;}#ws #header .content-data{height:10px;}#ws #header .zone{border-color:#000000;border-top-width:0px;border-bottom-width:0px;border-style:none;}#ws #header #menu{border-color:#000000;border-top-width:0px;border-bottom-width:0px;border-style:none;}#ws #footer .zone{border-color:#000000;border-top-width:0px;border-bottom-width:0px;border-style:none;}#ws .slide-show .zone{border-color:#000000;border-top-width:undefined;border-bottom-width:undefined;border-style:undefined;}#ws #footer .zone.page{background-color:transparent;}#ws #header #menu{background-color:transparent;top:167px;left:0px;}#ws .header-signup{top:-56px;right:0;left:auto;}#ws .header-signup ul{float:right;margin-left:0;margin-right:7px;}#ws .header-signup ul li.over{background-color:#520000;border-color:#ffffff;}#ws .header-signup ul li{background-color:transparent;border-color:transparent;margin:0px 0px 0px 0px;padding:2px 10px;}#ws .header-signup ul li.over a{color:#ffffff;}#ws .header-signup ul li a{color:#ffffff;}#ws ul.ws-menu{float:left;margin-right:0;margin-left:7px;}#ws ul.ws-menu li.on{background-color:#520000;border-color:#ffffff;}#ws ul.ws-menu li.over{background-color:transparent;border-color:#ffffff;}#ws ul.ws-menu li{background-color:transparent;border-color:transparent;margin:4px 0px 5px 20px;padding:10px 8px;}#ws ul.ws-menu li.over a{color:#ffffff;}#ws ul.ws-menu li.on a{color:#ffffff;}#ws ul.ws-menu li a{color:#ffffff;}#ws ul.ws-submenu{background-color:transparent;width:158px;}#ws ul.ws-submenu li.over{background-color:#520000;border-color:#ffffff;}#ws ul.ws-submenu li{background-color:#b3b3b3;border-color:#ffffff;margin:10px 0px 0px -1px;padding:5px 11px;}#ws ul.ws-submenu li.over a{color:#ffffff;}#ws ul.ws-submenu li a{color:#ffffff;}#ws #page-content .zone{background-color:transparent;}#ws .page-content .content-inner{background-color:#dedede;border-color:#ffffff;padding:10px 25px;margin:12px -7px 0px -7px;}#ws .calendar .calendar-cel{border-color:#000000;}#ws .calendar .th{background-color:#000000;color:#dedede;}#ws .calendar .calendar-details{background-color:#000000;color:#dedede;}#ws .calendar .calendar-item{border-color:#000000;background-color:#dedede;}#ws .calendar .calendar-item.over{background-color:#000000!important;}#ws .widget .content-inner p{margin:0 0 0px 0;}#ws .side-bar .widget .content-inner p{margin:0 0 10px 0;}#ws .page-content .content-inner p{margin:0 0 10px 0;}#ws{background-color:#d9d9d9;font-family:"News Cycle";}#ws .widget .content-inner{margin:0px -7px 0px -7px;padding:0px 20px;}#ws .widget .content-inner{background-color:#b3b3b3;border-color:#ffffff;}#ws .widget .content-clip{font-family:"News Cycle";font-weight:400;font-style:normal;line-height:17px;word-spacing:0px;font-size:15px;text-transform:none;text-shadow:none;color:#000000;}#ws .widget .content-clip a{color:#520000;}#ws .widget h2{font-family:"News Cycle";font-weight:700;font-style:normal;line-height:35px;word-spacing:0px;font-size:26px;text-transform:none;text-shadow:none;margin:0px 0px 15px 0px;padding:8px 0px;background-color:transparent;border-color:#000000;display:block;color:#000000;}#ws .side-bar .widget .content-inner{margin:15px -7px 0px 20px;padding:10px 20px;}#ws .side-bar .widget .content-inner{background-color:#d9d9d9;border-color:#ffffff;}#ws .side-bar .widget .content-clip{font-family:Antic;font-weight:400;font-style:normal;line-height:16px;word-spacing:0px;font-size:14px;text-transform:none;text-shadow:none;color:#000000;}#ws .side-bar .widget .content-clip a{color:#520000;}#ws .side-bar .widget h2{font-family:"News Cycle";font-weight:700;font-style:normal;line-height:30px;word-spacing:0px;font-size:25px;text-transform:none;text-shadow:none;margin:6px 0px 14px 0px;padding:0px 0px;background-color:transparent;border-color:#000000;display:block;color:#520000;}#ws .page-content .content-inner{color:#6b6b6b;border-color:#ffffff;}#ws .page-content .content-inner .gallery-wrap .img-g{background-color:#6b6b6b;}#ws .page-content .content-inner .gallery-wrap li a.over{border-color:#6b6b6b;}#ws .page-content .content-inner table{border-color:#6b6b6b;}#ws .page-content .content-inner a{color:#000000;}#ws .page-content h1{font-family:"Josefin Sans";font-weight:700;font-style:normal;line-height:34px;word-spacing:0px;font-size:29px;text-transform:none;text-shadow:none;margin:0px 0px 30px 0px;padding:10px 0px;background-color:transparent;border-color:#b3b3b3;display:block;color:#520000;}#ws .slide-show .description{font-family:"Open Sans";font-weight:400;font-style:normal;line-height:13px;word-spacing:0px;font-size:18px;text-transform:none;text-align:left;text-shadow:none;margin-bottom:18px;color:#b3b3b3;}#ws .page-content .content-clip{font-family:"Josefin Sans";font-weight:400;font-style:normal;line-height:21px;word-spacing:0px;font-size:16px;text-transform:none;text-shadow:none;color:#000000;}#ws .page-content a.bt{color:#dedede;background-color:#000000;}#ws .site-header h1{font-family:"Rock Salt";font-weight:700;font-style:normal;line-height:43px;word-spacing:0px;font-size:43px;text-transform:none;top:-63px;left:130px;text-shadow:rgb(51, 51, 51) 1px 1px 2px;margin:0;padding:0px 0px;background-color:transparent;border-color:#520000;z-index:2;color:#d90000;}#ws .site-header h2{font-family:Calligraffitti;font-weight:400;font-style:normal;line-height:19px;word-spacing:0px;font-size:19px;text-transform:none;top:5px;left:207px;text-shadow:none;margin:0;padding:0px 0px;background-color:transparent;border-color:#b3b3b3;z-index:2;color:#000000;}#ws .site-header div.gtranslate{top:undefined;left:undefined;}#ws .site-header div.search{top:52px;left:729px;}#ws .site-header div.search input{font-family:"News Cycle";font-weight:400;font-style:normal;line-height:25px;word-spacing:0px;font-size:13px;text-transform:none;border-color:#ffffff;text-shadow:none;height:25px;width:160px;background-color:#ffffff;color:#520000;}#ws .home-aviso .content-inner{font-family:"Josefin Sans";font-weight:400;font-style:normal;line-height:21px;word-spacing:0px;font-size:16px;text-transform:none;border-color:#ffffff;text-shadow:none;padding:10px 25px;margin:12px -7px 0px -7px;background-color:#dedede;color:#000000;}#ws .home-aviso .content-inner a{color:#000000;}#ws .home-aviso .content-inner img{border-color:transparent;padding:0px 0px;}#ws .site-footer .content-data img{border-color:transparent;padding:0px 0px;}#ws .page-content .content-inner img{border-color:#ffffff;padding:0px 0px;}#ws .side-bar{background-image:none;}#ws .side-bar{background-color:transparent;}#ws #menu{background-image:url("http://www.sitepx.com/img/41738/barra-menu-3791.png");background-repeat:no-repeat;background-position:center top;}#ws #header .site-header .content-inner{background-image:url("http://www.sitepx.com/img/62354/orientacao-vocacional-2-2-3-26115.jpg");background-repeat:repeat;background-position:center center;}#header .zone.page{background-image:none;}#ws #header .site-header .content-inner{background-color:transparent;border-color:#000000;margin:1px -7px -13px -7px;padding:95px 0px;}#ws #footer .site-footer .content-inner{background-image:none;}#ws #footer .zone.page{background-image:none;}#ws #footer .zone.page .content-inner{background-color:#520000;border-color:#ffffff;margin:30px -7px -15px -7px;padding:19px 30px;}#ws .site-footer .content-data{font-family:Questrial;font-weight:400;font-style:normal;line-height:20px;word-spacing:0px;font-size:15px;text-transform:none;text-shadow:none;color:#ffffff;}#ws .site-footer .content-data a{color:#b3b3b3;}#ws .header-signup ul li a{font-family:Questrial;font-weight:400;font-style:normal;line-height:18px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:13px;}#ws ul.ws-menu li a{font-family:Questrial;font-weight:400;font-style:normal;line-height:15px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:13px;}#ws ul.ws-submenu li{font-family:Questrial;font-weight:400;font-style:normal;line-height:18px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:13px;}#ws .page-content input.submit{font-family:"Josefin Sans";font-weight:400;font-style:normal;line-height:18px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:13px;padding:3px 8px;margin:8px 0px 14px 0px;color:#d9d9d9;background-color:#8f0000;border-color:#520000;}#ws .page-content a.bt{font-family:"Josefin Sans";font-weight:400;font-style:normal;line-height:18px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:13px;padding:4px 11px;margin:8px 0px 20px 0px;color:#dedede;background-color:#8f0000;border-color:#520000;}#ws .home-aviso input.submit{font-family:Arvo;font-weight:400;font-style:normal;line-height:17px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:15px;padding:5px 8px;margin:8px 0px 8px 0px;color:#d9d9d9;background-color:#000000;border-color:#ffffff;}#ws .site-footer input.submit{font-family:Questrial;font-weight:400;font-style:normal;line-height:15px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:14px;padding:4px 8px;margin:8px 0px 8px 0px;color:#000000;background-color:#d9d9d9;border-color:#d9d9d9;}#ws .side-bar .widget input.submit{font-family:Questrial;font-weight:400;font-style:normal;line-height:15px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:14px;padding:3px 8px;margin:8px 0px 4px 0px;color:#d9d9d9;background-color:#000000;border-color:#520000;}#ws div[role=main] .widget input.submit{font-family:Questrial;font-weight:400;font-style:normal;line-height:15px;word-spacing:0px;text-shadow:none;text-transform:uppercase;font-size:14px;padding:5px 11px;margin:10px 0px 8px 0px;color:#d9d9d9;background-color:#000000;border-color:#ffffff;}#ws .side-bar{background-color:transparent;}/* GENERAL END */

/* PAGE BEGIN */
/* PAGE END */

/* HOME BEGIN */
/* HOME END *//*Sempre crie suas regras de CSS colocando na frente: #wspara que elas funcionem corretamente. Por ex:	#ws a{color:#000;}
	#ws h1{margin:20px 0;}
*/
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(http://themes.googleusercontent.com/static/fonts/questrial/v3/MYWJ4lYm5dbZ1UBuYox79KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/MViwy4K6e56oHcyeMzjbCQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(http://themes.googleusercontent.com/static/fonts/antic/v4/oPxV1dkj-zBXVn8gGPEP7w.ttf) format('truetype');
}
@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  src: local('Calligraffitti'), local('Calligraffitti-Regular'), url(http://themes.googleusercontent.com/static/fonts/calligraffitti/v4/vLVN2Y-z65rVu1R7lWdvyF9q9cSakIY5dTu4rft1WBw.ttf) format('truetype');
}